<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/contactform.css'%}">
  <link rel="stylesheet" href="{% static 'css/form.css'%}">
  <title>Form</title>
</head>
<body style="background-image: url({% static 'images/shutters-background.jpg' %}); background-size: cover;">
<div class="form-wrapper">
  <div class="form">
    <h5>Свяжитесь с нами!</h5>
    <div class="form-body">
      <div class="form-group">
        <form>
          {{csrftoken}}
          <div class="form__group field">
            <input required="required" placeholder="Имя" class="form__field" type="text" id="form-name">
            <label class="form__label" >Имя</label>
          </div>
          <div class="form__group field">
            <input required="" placeholder="Телефон" class="form__field" type="tel" id="form-phone">
            <label class="form__label" >Телефон</label>
          </div>
          <div class="form__group field">
            <input required="" placeholder="Email" class="form__field" type="email" id="form-email">
            <label class="form__label" >Email</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="form-check">
            <label class="form-check-label" for="form-check">
              <a data-bs-toggle="modal" data-bs-target="#Modal" style="cursor: pointer;">
                <ins>Согласие на обработку персональных данных</ins>
              </a>
            </label>
          </div>
          <div class="warning-text" hidden>Пожалуйста, подтвердите согласие на обработку данных</div>
          <button type="button" class="form-button" id="form-button">Отправить</button>
        </form>
      </div>
      <div class="info-group">
        <ul>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
            </svg>
            <span>Россия, г. Москва, ул. Бехтерева, д. 35, корп. 1, кв. 3</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
              <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg>
            <span><a href="tel:+79162900998">+7(991)290-09-98</a> </span>
          </li>
<!--          <li>-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">-->
<!--              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>-->
<!--            </svg>-->
<!--            <span><a href="mailto:#">mail@mail.mail</a></span>-->
<!--          </li>-->
        </ul>
        <a class="form-button" href="{% url 'index' %}">На главную</a>
      </div>
    </div>
  </div>
  <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalLabel">Согласие на обработку персональных данных</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
          Настоящим я, во исполнение требований Федерального закона от 27.07.2006 г. № 152-ФЗ «О
          персональных данных» (с изменениями и дополнениями) свободно, своей волей и своем интересе,
          а также подтверждая свою дееспособность, даю свое согласие Индивидуальному предпринимателю ЗИМИН АЛЕКСАНДР БОРИСОВИЧ
          (ОГРН 323774600128753), место нахождения: 115516, РОССИЯ, Г. МОСКВА, УЛ. БЕХТЕРЕВА, Д. 35 КОРП. 1, КВ. 3,
          сайт ИП: shutters.su на обработку
          своих персональных данных со следующими условиям:
          </p>
          <ul>
            <li>
              Данное Согласие дается на обработку персональных данных, как без использования
              средств автоматизации, так и с их использованием. Согласие дается на обработку следующих
              моих персональных данных: фамилия, имя, отчество; номер телефона (домашний/ сотовый);
              электронная почта; пользовательские данные (сведения о местоположении, тип и версия ОС, тип и
              версия Браузера, тип устройства и разрешение его экрана; источник, откуда пришел на сайт
              пользователь; с какого сайта или по какой рекламе; язык ОС и Браузера; какие страницы открывает
              и на какие кнопки нажимает пользователь; ip-адрес); данные обо мне, которые станут известны в
              ходе исполнения договоров (в случае заключения договора между мной и ИП), а также
              иная общедоступная информация обо мне.
            </li>
            <li>
              Персональные данные не являются общедоступными.
            </li>
            <li>
              Цель обработки персональных данных: обработка входящих запросов физических лиц с
              целью оказания консультирования по различным вопросам, относящимся к сфере
              предпринимательской деятельности ИП; аналитики действий физического лица на вебсайте и функционирования веб-сайта.
            </li>
            <li>
              Основанием для обработки персональных данных является статья 24 Конституции
              Российской Федерации; статья 6 Федерального закона № 152-ФЗ «О персональных данных»;
              настоящее Согласие посетителя сайта на обработку персональных данных.
            </li>
            <li>
              В ходе обработки с персональными данными будут совершены следующие действия: сбор,
              запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение,
              использование, передача (распространение, предоставление, доступ), блокирование, удаление,
              уничтожение.
            </li>
            <li>
              Настоящим я уведомлен ИП, что предполагаемыми пользователями персональных
              данных являются работники ИП, а также лица, привлеченные ИП на условиях
              гражданско-правового договора.
            </li>
            <li>
              Я ознакомлен (а), что:
            </li>
            <ul>
              <li>
                настоящее Согласие на обработку моих персональных данных является бессрочным и
                может быть отозвано посредством направления мною в адрес ИП (115516, РОССИЯ, Г. МОСКВА, УЛ. БЕХТЕРЕВА, Д. 35 КОРП. 1, КВ. 3,)
                письменного заявления. Датой отзыва
                считается день, следующий за днем вручения ИП письменного заявления об отзыве
                Согласия пользователя сайта на обработку персональных данных;
              </li>
              <li>
                имею право на доступ к моим персональным данным, требовать уточнения (обновление,
                изменение) моих персональных данных, а также удаления и уничтожения моих персональных
                данных в случае их обработки ИП, нарушающих мои законные права и интересы,
                законодательство Российской Федерации.
              </li>
              <li>
                в случае отзыва Согласия на обработку персональных данных ИП вправе
                продолжить обработку персональных данных без моего согласия при наличии оснований,
                указанных в пунктах 2.11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального
                закона №152-ФЗ «О персональных данных» от 27.07.2006 г
              </li>
            </ul>
            <li>
              Я обязуюсь в случае изменения моих персональных данных, сведений обо мне
              незамедлительно сообщить ИП, с предоставлением подтверждающих документов.
            </li>
            <li>
              Настоящим Согласием я подтверждаю, что являюсь субъектом предоставляемых
              персональных данных, а также подтверждаю достоверность предоставляемых данных.
            </li>
            <li>
              Настоящее Согласие действует все время до момента прекращения обработки
              персональных данных, согласно п. 7.1 Согласия.
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
<script src="{% static 'js/jquery-3.6.1.min.js'%}"></script>
<script src="{% static 'js/popper.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/bootstrap.js'%}"></script>
<script src="{% static 'js/forms-api.js'%}"></script>
</html>