.about-service-wrapper{
    background:#CE9627;
    margin-top:0%;
}

.about-service-wrapper .row{
    margin:0%;
    padding:1%;
    padding-top: 0%;
    z-index: 1;
    position: relative;
}

.about-service-header{
    z-index: 0;
    margin-top: 3%;
    font-size: 150px;
    margin-top: 0%;
    line-height: 62%;
    color:#DEAE4F;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;
}
.about-service-card{
    display: flex;
    flex-direction: column;
    color:#fcf7ee;
}
.about-service-card img{
    width: 100%;
    padding-left: 0%;
    height: 30vw;
    overflow: hidden;
    object-fit: cover;
}

.about-service-card p{
    margin-bottom: 0%;
}

.about-service-card h1{
    font-size: 25px;
}

.right-col{
    padding-top: 15%;
    border-left: solid;
    border-color: #F3DFBA;
    margin-bottom:10%;
}

.center-col{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    border-left: solid;
    border-color: #F3DFBA;
    padding-bottom:15%;
}
.left-col{
    padding-top:15%;
    border-left: solid;
    border-color: #F3DFBA;
    margin-bottom:10%;
}
