.contact-form-wrapper h1{
    margin-top:5%
}

.contact-form-wrapper h3{
    margin-top:3%
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #F3DFBA;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #F3DFBA;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-color: #ce9627;
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #ce9627;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.form-card {
    width: 80vw;
    margin-left:10%;
    margin-right:10%;
    margin-top:2%;
    background: rgb(46, 44, 44);
    transition: all 300ms;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.form-card form{
    width: 80%;
}

.form-button {
    margin-top:5%;
    margin-bottom:5%;
  font-size: 18px;
  color: #F3DFBA;
  font-family: inherit;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.form-button:focus,
.form-button:hover {
  color: #ce9627;
}

.form-button:focus:after,
.form-button:hover:after {
  width: 100%;
  left: 0%;
}

.form-button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ce9627;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.form-check-input{
    margin-top: 2%;
    margin-bottom:2%;
}

.form-check-input:checked {
  background-color: #ce9627;
  border-color: #F3DFBA;
}

.form-check-label{
    margin-top: 1%;
    margin-bottom: 2%;
    color: blue;
}

.warning-text{
    color: red;
    transition: all 2s;
}