.header-wrapper{
    position: absolute;
    z-index: 1;
}

.nav-link{
   color: #deae4f;
}

.navbarButton {
  font-size: 14px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #deae4f;
  text-transform: uppercase;
  position: relative;
  transition: .5s ease;
}

.navbarButton::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: .5s ease;
}

.navbarButton:hover {
  color: black;
  transition-delay: .5s;
}

.navbarButton:hover::before {
  width: 100%;
}

.navbarButton::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: .4s ease;
  z-index: -1;
}

.navbarButton:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}