.video{
    height: 100vh;
    max-width:100%;
    background: black;
    overflow: hidden;
}

video{
    width: 100vw;
    margin: auto;
    object-fit: contain;
    opacity: 0.5;
}

.overlay{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:1;
  width: 90vw;
}
.hero-text{
  font-family: Sneaky;
  color: #DEAE4F;
}
h1.hero-text{
    font-size: 70px;
}

.videoButton {
 position: absolute;
 left: 50%;
 transform: translate(-50%, 130%);
 font-family: Sneaky;
 background-color: #69A297;
 padding: 14px 40px;
 color: #fff;
 text-transform: uppercase;
 letter-spacing: 2px;
 cursor: pointer;
 border-radius: 10px;
 border: 2px dashed #69A297;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 transition: .4s;
}

.videoButton span:last-child {
 display: none;
}

.videoButton:hover {
 transition: .4s;
 border: 2px dashed #00BFA6;
 background-color: #fff;
 color: #00BFA6;
}

.videoButton:active {
 background-color: #87dbd0;
}
